button {
  $height: 4rem;
  padding: 0 4rem;
  display: inline-block;
  height: $height;
  background: $color-pink;
  border-radius: $height / 2;
  text-align: center;
  font-weight: 700;
  color: $color-white;
  font-family: $font-family-body;
  border: none;
  font-size: 2.4rem;
  max-width: 40rem;
  margin: auto;
  transition: all $ani-time / 2;
  outline: none;

  &.large {
    $height: 6rem;
    height: $height;
    border-radius: $height / 2;
  }

  &:hover {
    transform: scale(1.05)
  }

  &:disabled {
    opacity: 0.5;
  }
}
