// Colors
$color-green: #6fc7b4;
$color-blue: #3b439b;
$color-grey-100: rgba(#3b439b, 0.1);
$color-grey-500: rgba(#3b439b, 0.5);
$color-pink: #ef94be;
$color-pink-100: rgba(#ef94be, 0.2);
$color-white: #fff;


// Font sizes
$font-size-tn: 10px;
$font-size-sm: 10px;
$font-size-md: 10px;
$font-size-lg: 10px;

// Font weights
$font-weight-body: 600;
$font-weight-title: 600;

// Font families
$font-family-body: 'Open Sans', sans-serif;
$font-family-title: 'Open Sans', sans-serif;


// Wrapper padding
$wrapper-padding-tn: 2rem;
$wrapper-padding-sm: 2rem;
$wrapper-padding-md: 0;
$wrapper-padding-lg: 0;


// Animation
$ani-time: 0.35s;
